* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: black;
  color: antiquewhite;
  min-height: 100vh;
}
.header {
  background-color: brown;
  color: black;
}
.heading {
  font-size: 9rem;
}
button {
  margin: 1rem;
  padding:1rem;
}
.data {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}